@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__item {
            flex: 1;
        }
    }
    .promo {
        &__slider {
            margin: 0;
        }
        &__wrapper {
            margin: 0;
        }
        &__img {
            width: 350px;
        }
        .slick {
            &-prev {
                left: 44%;
            }
            &-next {
                right: 44%;
            }
        }
    }
    .about {
        &__item {
            width: 31.5%;
        }
    }
    .data {
        &__text {
            width: 98%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin: 0;
        }
        &__text {
            margin-top: 7px;
            text-align: center;
        }
    }
    .promo {
        &__img {
            width: 280px;
        }
        &__btn {
            width: 235px;
            height: 55px;
        }
        .slick {
            &-prev {
                left: 43%;
            }
            &-next {
                right: 43%;
            }
        }
    }
    .presentation {
        .slider-dots {
            width: 100%;
            &__item {
                padding-right: 15px;
            }
        }
        .slick {
            &-prev {
                left: 10px;
            }
            &-next {
                right: 10px;
            }
        }
    }
    .advantages {
        &__block {
            min-height: 50%;
        }
        &__text {
            padding: 0 2vw;
        }
    }
    .data {
        &__wrapper {
            flex-direction: column;
        }
        &__title {
            top: 60px;
        }
        &__cloud, &__server {
            height: 540px;
            width: 100%;
        }
    }
    .footer {
        &__wrapper {
            flex-wrap: wrap;
            row-gap: 20px;
        }
        &__item {
            width: 45%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        display: none;
    }
    .promo {
        padding-top: 20px;
        &__menu {
            flex-direction: column;
            position: fixed;
            top: 0;
            padding-top: 100px;
            padding-left: 20px;
            width: 50%;
            justify-content: unset;
            height: 100%;
            /* left: -160px; */
            z-index: 10;
            background: rgba(0, 0, 0, 0.7);
            left: -50%;
            transition: 0.5s all;
            &.active {
                left: 0;
            }
        }
        &__link {
            text-align: left;
            font-size: 20px;
            line-height: 50px;
        }
        &__burger {
            display: block;
            position: absolute;
            cursor: pointer;
            width: 35px;
            height: 20px;
            top: 25px;    
            right: 1rem;
            &::before {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: .5s all;
            }
            span {
                position: absolute;
                background-color: #fff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: .5s all;
            }
            &::after {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: .5s all;
                bottom: 0;
            }
            &.active {
                position: fixed;
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                }
                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
                span {
                    transform: scale(0);
                }
            }
        }
        &__title {
            margin-top: 100px;
            font-size: 33px;
            width: unset;
        }
        &__subtitle {
            width: unset;
        }
        &__btn {
            // width: 215px;
            // height: 50px;
            margin-bottom: 170px;
        }
        &__img {
            width: 210px;
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 35px;
        }
        &__item {
            width: 360px;
            &-answer {
                margin: 0;
            }
        }
    }
    .presentation {
        .slider-dots {
            display: none;
        }
        .slick {
            &-dots {
                display: flex;
                position: absolute;
                right: 50%;
                transform: translate(50%);
                padding: 0;
                margin: 0;
                li {
                    font-size: 0;
                    margin-right: 3px;
                    &:last-child {
                        margin: 0;
                    }
                    button {
                        width: 11px;
                        height: 11px;
                        border: 1px #fff solid;
                        background: transparent;
                        border-radius: 50%;
                        padding: 0;
                    }
                }
                .slick-active {
                    background: rgba($main-color, $alpha: 0.4);
                    border-radius: 50%;
                }
            }
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 75%;
        }
        &__title {
            padding: 0 12vw;
        }
    }
    .data {
        &__title {
            width: 100%;
            top: 50px;

        }
        &__cloud, &__server {
            height: 520px;
        }
    }
    .footer {
        &__wrapper {
            justify-content: center;
        }
        &__item {
            width: 70%;
        }
        &__logo {
            margin: 20px auto 20px auto;
            display: block;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
            max-width: none;
        }
        &__link {
            text-align: center;
        }
    }
}

@media (max-width:576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 25px;
        &_left {
            font-size: 23px;
        }
        &_right {
            font-size: 23px;
        }
    }
    .promo {
        &__menu {
            padding-top: 145px;
            width: 100%;
            left: -101%;
            &.active {
                left: 0;
            }
        }
        &__link {
            font-size: 20px;
            text-align: center;
            line-height: 60px;
        }
        &__burger {
            z-index: 10;
        }
        &__img {
            display: none !important;
        }
        &__btn {
            margin-bottom: 130px;
        }
        .slick {
            &-dots {
                bottom: 40px;
            }
        }
    }
    .about {
        &__item {
            width: 300px;
        }
    }
    .advantages {
        &__item {
            width: 90%;
        }
        &__text {
            font-size: 20px;
        }
    }
    .data {
        &__title {
            font-size: 24px;
        }
        &__cloud {
            padding-right: 30px;
            &::after {
                right: 20px;
                height: 205px;
                width: 205px;
            }
        }
        &__server {
            padding-left: 30px;
            &::after {
                left: 20px;
                height: 205px;
                width: 205px;
            }
        }
    }
}