@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


@import 'base/mixins';
@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

p {
    margin: 0;
}

@import 'blocks/title';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/presentation';
@import 'blocks/advantages';
@import 'blocks/data';
@import 'blocks/finish';
@import 'blocks/footer';

@import 'base/media';
